tests/Fixtures/rendering/input/typo3/core/latest/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">
			<xsd:element name="iconForRecord"><xsd:annotation><xsd:documentation><![CDATA[Displays icon for record.

Examples
========

Default::

   <core:iconForRecord table="tt_content" row="{record}" />

Output::

    <span class="t3js-icon icon icon-size-small icon-state-default icon-mimetypes-x-content-text" data-identifier="mimetypes-x-content-text" aria-hidden="true">
        <span class="icon-markup">
            <img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/mimetypes/mimetypes-x-content-text.svg" width="16" height="16">
        </span>
    </span>
/]]></xsd:documentation></xsd:annotation><xsd:complexType mixed="true"><xsd:sequence><xsd:any minOccurs="0" maxOccurs="1"/></xsd:sequence><xsd:attribute type="xsd:string" name="table" default="NULL" use="required"><xsd:annotation><xsd:documentation><![CDATA[the table for the record icon]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:anySimpleType" name="row" default="NULL" use="required"><xsd:annotation><xsd:documentation><![CDATA[the record row]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="size" default="\TYPO3\CMS\Core\Imaging\IconSize::SMALL"><xsd:annotation><xsd:documentation><![CDATA[the icon size]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="alternativeMarkupIdentifier" default="NULL"><xsd:annotation><xsd:documentation><![CDATA[alternative markup identifier]]></xsd:documentation></xsd:annotation></xsd:attribute></xsd:complexType></xsd:element><xsd:element name="iconForResource"><xsd:annotation><xsd:documentation><![CDATA[Displays icon for a FAL resource (file or folder means a :php:`TYPO3\CMS\Core\Resource\ResourceInterface`).

Examples
========

Default::

   <core:iconForResource resource="{file.resource}" />

Output::

    <span class="t3js-icon icon icon-size-small icon-state-default icon-mimetypes-text-html" data-identifier="mimetypes-text-html">
        <span class="icon-markup">
            <img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/mimetypes/mimetypes-text-html.svg" width="16" height="16">
        </span>
    </span>
/]]></xsd:documentation></xsd:annotation><xsd:complexType mixed="true"><xsd:sequence><xsd:any minOccurs="0" maxOccurs="1"/></xsd:sequence><xsd:attribute type="xsd:anySimpleType" name="resource" default="NULL" use="required"><xsd:annotation><xsd:documentation><![CDATA[Resource]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="size" default="\TYPO3\CMS\Core\Imaging\IconSize::SMALL"><xsd:annotation><xsd:documentation><![CDATA[The icon size]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="overlay" default="NULL"><xsd:annotation><xsd:documentation><![CDATA[Overlay identifier]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:anySimpleType" name="options" default="array (&#10;)"><xsd:annotation><xsd:documentation><![CDATA[An associative array with additional options]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="alternativeMarkupIdentifier" default="NULL"><xsd:annotation><xsd:documentation><![CDATA[Alternative markup identifier]]></xsd:documentation></xsd:annotation></xsd:attribute></xsd:complexType></xsd:element><xsd:element name="icon"><xsd:annotation><xsd:documentation><![CDATA[Displays icon identified by icon identifier.

Examples
========

Default::

   <core:icon title="Open actions menu" identifier="actions-menu" />

Output::

    <span title="Open actions menu" class="t3js-icon icon icon-size-small icon-state-default icon-actions-menu" data-identifier="actions-menu" aria-hidden="true">
        <span class="icon-markup">
            <img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-menu.svg" width="16" height="16">
        </span>
    </span>

Inline::

   <core:icon identifier="actions-menu" alternativeMarkupIdentifier="inline" />

Output::

    <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-menu" data-identifier="actions-menu" aria-hidden="true">
        <span class="icon-markup">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g class="icon-color"><path d="M9 12v2H7v-2h2m.5-1h-3c-.3 0-.5.2-.5.5v3c0 .3.2.5.5.5h3c.3 0 .5-.2.5-.5v-3c0-.3-.2-.5-.5-.5zM9 7v2H7V7h2m.5-1h-3c-.3 0-.5.2-.5.5v3c0 .3.2.5.5.5h3c.3 0 .5-.2.5-.5v-3c0-.3-.2-.5-.5-.5zM9 2v2H7V2h2m.5-1h-3c-.3 0-.5.2-.5.5v3c0 .3.2.5.5.5h3c.3 0 .5-.2.5-.5v-3c0-.3-.2-.5-.5-.5zM4 7v2H2V7h2m.5-1h-3c-.3 0-.5.2-.5.5v3c0 .3.2.5.5.5h3c.3 0 .5-.2.5-.5v-3c0-.3-.2-.5-.5-.5zM4 2v2H2V2h2m.5-1h-3c-.3 0-.5.2-.5.5v3c0 .3.2.5.5.5h3c.3 0 .5-.2.5-.5v-3c0-.3-.2-.5-.5-.5zM4 12v2H2v-2h2m.5-1h-3c-.3 0-.5.2-.5.5v3c0 .3.2.5.5.5h3c.3 0 .5-.2.5-.5v-3c0-.3-.2-.5-.5-.5zM14 7v2h-2V7h2m.5-1h-3c-.3 0-.5.2-.5.5v3c0 .3.2.5.5.5h3c.3 0 .5-.2.5-.5v-3c0-.3-.2-.5-.5-.5zM14 2v2h-2V2h2m.5-1h-3c-.3 0-.5.2-.5.5v3c0 .3.2.5.5.5h3c.3 0 .5-.2.5-.5v-3c0-.3-.2-.5-.5-.5zM14 12v2h-2v-2h2m.5-1h-3c-.3 0-.5.2-.5.5v3c0 .3.2.5.5.5h3c.3 0 .5-.2.5-.5v-3c0-.3-.2-.5-.5-.5z"/></g></svg>
        </span>
    </span>
/]]></xsd:documentation></xsd:annotation><xsd:complexType mixed="true"><xsd:sequence><xsd:any minOccurs="0" maxOccurs="1"/></xsd:sequence><xsd:attribute type="xsd:string" name="identifier" default="NULL" use="required"><xsd:annotation><xsd:documentation><![CDATA[Identifier of the icon as registered in the Icon Registry.]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="size" default="'small'"><xsd:annotation><xsd:documentation><![CDATA[Desired size of the icon. All values of the IconSize enum are allowed, these are: "small", "default", "medium", "large" and "mega".]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="overlay" default="NULL"><xsd:annotation><xsd:documentation><![CDATA[Identifier of an overlay icon as registered in the Icon Registry.]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="state" default="'default'"><xsd:annotation><xsd:documentation><![CDATA[Sets the state of the icon. All values of the Icons.states enum are allowed, these are: "default" and "disabled".]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="alternativeMarkupIdentifier" default="NULL"><xsd:annotation><xsd:documentation><![CDATA[Alternative icon identifier. Takes precedence over the identifier if supported by the IconProvider.]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="title" default="NULL"><xsd:annotation><xsd:documentation><![CDATA[Title for the icon]]></xsd:documentation></xsd:annotation></xsd:attribute></xsd:complexType></xsd:element><xsd:element name="normalizedUrl"><xsd:annotation><xsd:documentation><![CDATA[Normalizes a path that uses EXT: syntax or an absolute URL to an absolute web path

Examples
========

Url::

   <core:normalizedUrl pathOrUrl="https://foo.bar/img.jpg" />

Output::

    https://foo.bar/img.jpg

Path::

   <core:normalizedUrl pathOrUrl="EXT:core/Resources/Public/Images/typo3_black.svg" />

Output::

    /typo3/sysext/core/Resources/Public/Images/typo3_black.svg

/]]></xsd:documentation></xsd:annotation><xsd:complexType mixed="true"><xsd:sequence><xsd:any minOccurs="0" maxOccurs="1"/></xsd:sequence><xsd:attribute type="xsd:string" name="pathOrUrl" default="NULL"><xsd:annotation><xsd:documentation><![CDATA[Absolute path to file using EXT: syntax or URL.]]></xsd:documentation></xsd:annotation></xsd:attribute></xsd:complexType></xsd:element></xsd:schema>
